body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

.slider-container {
  width: 700px;
  margin: 0 auto;
}

.slider-container .slider-viewport {
  width: 700px;
  border-radius: 10px;
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slider-container .slide {
  min-width: 700px;
  height: 400px;
  scroll-snap-align: start;
  border-radius: 10px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}

.slider-container .slide:nth-child(1) {
  background-color: #fe8c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f83600,
    #fe8c00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f83600,
    #fe8c00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.slider-container .slide:nth-child(2) {
  background-color: #fdfc47; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24fe41,
    #fdfc47
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24fe41,
    #fdfc47
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.slider-container .slide:nth-child(3) {
  background-color: #fffc00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #fffc00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #fffc00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.slider-container .slide:nth-child(4) {
  background-color: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.slider-container .slide:nth-child(5) {
  background-color: #cc2b5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #753a88,
    #cc2b5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #753a88,
    #cc2b5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.slider-container .links {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.slider-container .links a {
  width: 40px;
  height: 40px;
  background-color: #2e2e2e;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}
.slider-container .links a:hover {
  background-color: #633ac4;
}
